nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
}

.nav__action {
    display: flex;
    align-items: center;
}

.nav__action img {
    width: 20px;
}